.popup__input {
  box-sizing: border-box;
  width: 358px;
  min-height: 32px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  outline: none;
  padding: 0;
}
@media screen and (max-width: 522px) {
  .popup__input {
      width: 238px;
  }
}
.popup__input:last-of-type {
  margin-top: 27px;
}
